/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/*Fondos*/
body,nav, nav ul a,
nav .brand-logo,footer, .side-nav{
    background-color: black;
}

footer,.teal{
    background-color: black !important;
}


/*Texto del menu principal*/
a,nav ul a,
nav .brand-logo {    
    color: white !important;  
}


p {
    line-height: 2rem;
    color: white;
}

h5{
    /*color: #4db6ac;*/
    color: rgb(188,128,0);

}

.textoVerde{
    /*color: #4db6ac !important;*/
    color: rgb(188,128,0) !important;
}

.header{
    color: white;
}

/*Texto menu movil*/
.button-collapse {
    color: white;
}

/*Texto de las imagenes*/
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: orange;
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.modalDark{
    background-color: black !important;
}

input, textArea{
    color: white !important;
}

.iconoverde{
    /*color: #4db6ac;*/
    color: rgb(188,128,0);
}

.iconoblanco{
    color: white !important;
}


.textojustificado{
    text-align: justify !important;
}


.submenu{
    font-size: 10px !important;
}




.boxorange{    
    border: 2px double rgb(188,128,0);     
    border-radius: 10px;
}


/************MODIFICACIONES DIRECTAS A MATERIALIZE***********************************/


/* label underline focus color */
.input-field input[type=text]:focus, 
.input-field input[type=email]:focus,
.input-field input[type=number]:focus,
.input-field input[type=password]:focus,
.input-field input[type=tel]:focus
{
    border-bottom: 1px solid  rgb(188,128,0)  !important;
    box-shadow: 0 1px 0 0  rgb(188,128,0)  !important;
}


textarea:focus{
    border-bottom: 1px solid  rgb(188,128,0) !important;
    box-shadow: 0 1px 0 0  rgb(188,128,0) !important;
}

/*BOTONES GRANDES*/
.teal.lighten-1 {
    background-color: rgb(188,128,0) !important; 
}

/*.teal {
    background-color: rgb(188,128,0) !important; 
}*/


.btn, .btn-large {  
    background-color: rgb(188,128,0) !important;
}


.btn-floating {  
    background-color: rgb(188,128,0) !important;
}





nav .input-field label.active i {
    color: rgb(188,128,0) !important;
}

label.active{
    color: rgb(188,128,0) !important;  
}


.input-field .prefix.active {
    color: rgb(188,128,0);
}


blockquote {
  color: white !important;
  border-left: 5px solid rgb(188,128,0) !important;
}